{% extends "model/single.html" %}

{% block model_content %}

<div class="model-categories">
	{{ page.content }}
</div>

{# Получаем все страницы в разделе #}
{% set section_path = page.path %}
{% for page in site.pages | where('path', section_path) | where('date') | sort(attribute='date', reverse=True) %} 
<div class="cover" >

<h3>
<a href="/{{ page.path }}">{{ page.title }}</a>	
</h3>

{% if page.cover %}
<a href="/{{ page.path }}"><img src="{{ page.cover | thumb((500, 500)) }}"/></a>
{% endif %}

</div>
{% endfor %}

{% endblock %}
