{% extends "single.html" %}
{% import 'macros.html' as macros %}


{# Add meta tags #}
{% block html_header %} 
    {% if page.meta != None %}
        <meta name="description" content="{{ page.meta }}">
    {% endif %}
{% endblock %}


{# Базовый шаблон для раздела Модели #}

{# Style for navigation menu #}
{% block body_class %}model{% endblock %}

{% block page_content %}

<span itemprop="articleSection">
<a href="/">Главная</a>
{% for path in page.path | breadcrumbs %} {% if not loop.last %}
	
	{% for page in site.pages | selectattr("path", "equalto", path) %} {# find page by path #}
	/ <a href="/{{ page.path }}">{{ page.title }}</a>
	{% endfor %}

{% endif %} {% endfor %}
</span>

<h1>{{ page.title }}</h1>

{% if page.tag %}

<ul id="tags">
{% for tag in page.tag %}
	<li>
		<a href="{{ site.indexes.tag.url }}/{{ tag }}">{{ tag | title }}</a>
	</li>	
{% endfor %}
</ul>

{% endif %}

{% block model_content %}

<section id="page-content">
	{{ page.content }}	
</section>

{% if page.disqus %}
	{{ macros.disqus() }}
{% endif %}

{% endblock %}

{% endblock %}