{% extends "tag/single.html" %}

{% block tag_content %}
<h2>{{ page.title }}</h2>

<ul id="tags">
{% for term in site.indexes.tag.terms %}

	<li>
		<a href="{{ site.indexes.tag.url }}/{{ term }}">{{ term | title }}</a>
	</li>

{% endfor %}
</ul>
{% endblock %}
