{% extends "single.html" %}

{% block body_class %}contact{% endblock %}

{% block page_content %}

    <h1>Контакты</h1>

    <div style="float: left;">
        {{ page.content }}        
    </div>

    <div style="float: left;">
        <form class="email-form" action="https://formspree.io/melnikov.ivan@gmail.com" method="POST">
            <input type="hidden" name="_next" value="https://imelnikov.ru/contact"/>
            <input type="hidden" name="_subject" value="imelnikov.ru"/>
            <input type="hidden" name="_format" value="plain"/>
            <input type="text" name="_gotcha" style="display:none"/>
            <input type="email" name="email" placeholder="Email для ответа">
            <textarea rows="10" name="message" placeholder="Сообщение"></textarea>
            <button type="submit">Отправить</button>
        </form>
    </div>
    <br clear="both"/>

{% endblock %}