<!DOCTYPE html>
<html lang="ru">
	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="chrome=1">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>{% block page_title %}{{ page.title }}{% endblock %}</title>
    	<link rel="stylesheet" href="/assets/style.css">
    	{% block html_header %}
		<link rel="alternate" type="application/rss+xml" title="RSS" href="https://imelnikov.ru/atom.xml">
		<link rel="stylesheet" href="/assets/main.css">
		{% endblock %}
	</head>

	<body class="{% block body_class %}home{% endblock %}">
	<div id="wrapper">

	{# Header #}

	<header id="header">
		<div class="logo">
			<a href="/">
			Мельников Иван
			</a>
		</div>

		<nav>
			<label for="show-menu" class="show-menu"></label>
			<input type="checkbox" id="show-menu" role="button"/>
			<ul id="menu">
				<li class="nav-model"><a href="/model">Моделизм</a></li>
				<li class="nav-radio"><a href="/radio">Электроника</a></li>
				<li class="nav-dev"><a href="/dev">Dev</a></li>
				<li class="nav-contact"><a href="/contact">Контакты</a></li>
			</ul>
		</nav>
	</header>
	<br style="clear:both;"/>

	{# Content #}

	<section id="content">

	{% block page_content %}

	<section class="project_main_container">
	<ul>

	{% for section in page.sections %}
	  <li>
	    <a href="{{ section.url }}">
	      <div class="project_container">
	          <div class="project_media">
	              <img class="project_image" src="{{ section.image | thumb(size=(500, 500)) }}" alt="{{ section.name }}"></img>
	              <h2>{{ section.name }}</h2>
	          </div>
	      </div>
	    </a>
	  </li>
	{% endfor %}

	</ul>
	</section>

	{% endblock %}

	</section>

	{# Footer #}

	<footer id="footer">
	<div class="powered">
	Powered by <a href="https://github.com/melnikov-ivan/tagy">Tagy</a>
	</div>
	</footer>

	</div>

	<script type="text/javascript" async="" src="https://www.google-analytics.com/ga.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-56086874-1', 'auto');
	  ga('send', 'pageview');

	</script>

	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
	    (function (d, w, c) {
	        (w[c] = w[c] || []).push(function() {
	            try {
	                w.yaCounter33290838 = new Ya.Metrika({
	                    id:33290838,
	                    clickmap:true,
	                    trackLinks:true,
	                    accurateTrackBounce:true
	                });
	            } catch(e) { }
	        });

	        var n = d.getElementsByTagName("script")[0],
	            s = d.createElement("script"),
	            f = function () { n.parentNode.insertBefore(s, n); };
	        s.type = "text/javascript";
	        s.async = true;
	        s.src = "https://mc.yandex.ru/metrika/watch.js";

	        if (w.opera == "[object Opera]") {
	            d.addEventListener("DOMContentLoaded", f, false);
	        } else { f(); }
	    })(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/33290838" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
	</body>
</html>
