{% macro disqus() -%}
<div id="disqus_thread"/>
<script type="text/javascript">
    var disqus_shortname = 'imelnikov';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{%- endmacro %}



{# Fotorama macros prints gallery with thumbnails. #}

{% macro fotorama(gallery, width="100%", ratio="800/600") -%}
<div class="fotorama" data-nav="thumbs" data-width="{{ width }}" data-ratio="{{ ratio }}">
  {% for image in gallery %}  
    {# fotorama style set thumb size to 64x64 #}
    <a href="{{ image }}"><img src="{{ image | thumb((172, 172)) }}"/></a>
  {% endfor %}  
</div>
{%- endmacro %}

{% macro fotorama_init() -%}
<!-- 1. Link to jQuery (1.8 or later), -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->

<!-- fotorama.css & fotorama.js. -->
<link  href="//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
{%- endmacro %}


{# Embed youtube video #}

{% macro youtube(id) -%}
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ id }}" frameborder="0" allowfullscreen></iframe>
{%- endmacro %}

{% macro img(url, size) -%}
<img src="{{ url | thumb(size) }}"/>
{%- endmacro %}